[2021-02-10 09:55] oserikov opened #1 "implement Goal-Oriented SoTA approaches in DP-Agent framework"
**difficulty**: medium
**mentor**: @oserikov
**requirements**: python, NLP
**useful links**:  [DSTC8 Dialogue state tracking challenge description paper](https://arxiv.org/pdf/2002.01359.pdf)

We recently achieved the SotA on the DialoGlue benchmark. The codebase still has to be turned into the production ready solution on top of our DP agent

# Coding Challenge
Pick an end-to-end sota approach an

[2021-02-10 09:56] oserikov opened #2 "Add an active learning mechanism to DP pipeline"

[2021-02-10 09:56] oserikov opened #3 "refactor KBQA"
**difficulty**: medium
**mentor**: @dmitrijeuseew
**requirements**: python, ML
**useful links**: [KBQA](http://docs.deeppavlov.ai/en/master/features/models/kbqa.html)

# Coding Challenge
Grab Query Generator component and refactor it: the logic here is reasonably complicated, so we just need to make code easier to read.

[2021-02-10 09:56] oserikov opened #4 "refactor Entity Linking"
We strongly recommend to focus on this issue instead:
#12

[2021-02-10 09:58] oserikov opened #5 "refactor Multitask BERT"
**difficulty**: medium
**mentor**: @dimakarp1996
**requirements**: python, ML
**useful links**: [Multitask BERT](http://docs.deeppavlov.ai/en/master/features/models/multitask_bert.html)

# Idea description
Implement at least one of the following tasks: PAL-BERT, CA-MTL, MT-DNN(more is better) within the DeepPavlov Library

# Coding Challenge
Reproduce results on the GLUE benchmark, which are descr

[2021-02-10 09:59] oserikov opened #6 "Integrate popular APIs to DP scenarios"
**difficulty**: easy
**mentor**: @oserikov
**requirements**: python
**useful links**: [Open API](https://en.wikipedia.org/wiki/OpenAPI_Specification)

The codeless OpenAPI integration is to be published in our upcoming release.

Even though the feature is quite handy by itself, we should integrate as many APIs as possible into our pipeline.

# Coding Challenge
Grab existing work on Actions in Go-B

[2021-02-10 10:00] oserikov opened #7 "Migrate existing Alexa Prize GO logic to DP Go-Bot framework"
**difficulty**: medium
**mentor**: @oserikov, @dilyararimovna
**requirements**: python
**useful links**: [Alexa Prize DREAM report](https://d7qzviu3xw2xc.cloudfront.net/alexa/alexaprize/assets/pdf/sgc3/Moscow-DREAM.pdf) [DP Agent](https://deeppavlov.ai/agent)

We're proud to rely onto our own stack while competing the Alexa Prize.

Though the challenge is sometimes so intense that our team reinven

[2021-02-10 10:01] oserikov opened #8 "Build GO-Bot developer tools: GUIs etc"
**difficulty**: challenging
**mentor**: @danielkornev `@oserikov`
**requirements**: GUI
**useful links**: [GO-Bot docs on RASA format support](http://docs.deeppavlov.ai/en/master/features/skills/go_bot.html#rasa-dsls-format-support)

The crucial component of the modern dialogue NLP, Goal-Oriented system is the back-end for most of the businesses tasks solved by dialogue agents.

Ours relies on the

[2021-02-10 10:02] oserikov opened #9 "Implement prod-level default models for GO-pipeline: classifiers, labelers and slotfillers"
**difficulty**: easy
**mentor**: @oserikov
**requirements**: python, ML
**useful links**: https://docs.deeppavlov.ai/en/master/features/skills/go_bot.html

Even though we hold sota for various NLP tasks in Russian, these are now available as jupyter notebooks. It still fully reproducible with the DP Library+Agent, but it's way too complicated for the end users to manually translate jupyter noteboo

[2021-02-10 10:14] oserikov opened #10 "Implement DP Project constructor"
**difficulty**: challenging
**mentor**: @oserikov @IgnatovFedor
**requirements**: containers, GUI
**useful links**: [Spring Initializr](https://start.spring.io/) [Deepy demo](https://github.com/deepmipt/deepy)

The task is to build an interactive interface which allows for users to pick only those the DP-Agent components that they want to use. The tool should then generate the template deploymebt

[2021-02-15 11:04] oserikov commented on #1
We recently achieved the SotA on the DialoGlue benchmark. The codebase still has to be turned into the production ready solution on top of our DP agent

[2021-02-19 13:46] oserikov opened #11 "Multilinguality demo"
difficulty: challenging
mentor: @oserikov
requirements: python, NLP

Different languages sperakers do [use](https://forum.deeppavlov.ai/search?q=languages) DeepPavlov.
By design, we are independent of any particular language.
But since our main models are built and tested only for English and Russian, multilinguality stays a raw prototype.
Building a complete pipeline on new languages would be a g

[2021-03-09 22:21] arya2910 commented on #5
hello @oserikov... i would like to work on this project under gsoc 2021.

[2021-03-10 02:42] Mudassaralimosu commented on #5
Hey @oserikov & @IgnatovFedor,I have installed DeepPavlov in my laptop,I want to contribute to the project Refactor Multitask BERT.
It would be very helpful if I can get in contact with the mentor of this project @IgnatovFedor to know more about this project and it  setup

[2021-03-10 04:41] Jeevan-Kiran-Lenka commented on #3
hey @oserikov  I have installed deep Pavlov and I would love to get in contact with the project mentor and I want to work on this project under the guidance of mentor and gsoc'21

[2021-03-10 04:43] Jeevan-Kiran-Lenka commented on #4
Hey! @oserikov I am currently learning about this topic and also the **Refractor KBQA** and I'm a little bit confused about this project and how to get started with it

[2021-03-10 05:16] moksh-pathak commented on #9
Hi, I would like to work on this issue

[2021-03-10 09:29] NEERAJAP2001 commented on #6
Hello, @oserikov I'm interested to work on this issue! How do I proceed?
Thanks

[2021-03-10 09:57] lakshayr31 commented on #9
Hi @oserikov I would like to work on this issue. Could you help me with some steps on how to proceed? Thanking you, Lakshay.

[2021-03-10 12:12] 0pride commented on #1
Hello, @oserikov,
I would like to work on this project during GSOC.
I looked through this article, and could you tell me which first issues I could look at to dive into the project and write a better application?

[2021-03-10 19:13] Rohan-cod commented on #4
Venerated Sir,
I hope you are safe and in good health in the wake of prevailing COVID-19.
My name is Rohan Gupta and I am a 3rd-year Computer Science undergraduate student at Shri Mata Vaishno Devi University. I have been working with Python, Swift, and deep learning for a couple of years now and have in-depth knowledge of it. I look forward to contributing to this idea as part of this year's GSoC

[2021-03-10 19:14] Rohan-cod commented on #5
Venerated Sir,
I hope you are safe and in good health in the wake of prevailing COVID-19.
My name is Rohan Gupta and I am a 3rd-year Computer Science undergraduate student at Shri Mata Vaishno Devi University. I have been working with Python, Swift, and deep learning for a couple of years now and have in-depth knowledge of it. I look forward to contributing to this idea as part of this year's GSoC

[2021-03-11 06:25] dhruv-kabariya commented on #8
Hey @oserikov ,
I am Dhruv Kabariya, I have experence in Flutter and it is robust framework for any kind of GUI development.
I look at project and I must say I am quite impress with deeppavlov technology.
I am but confuse about GUI so can you elaborte on that part,like how it will work, what feacher it will provide.If you have example it will work too.

[2021-03-11 11:52] DARK-art108 commented on #3
Hello, @oserikov I am Ritesh, I am working with the NLP domain for the past 1 yr, and have to build some scalable solutions in various domain's like healthcare, marketing, and others with task like Q/A sys, Fill in Blanks using various state of the art models like DistillBERT, Roberta, T5, and GPT-n, So I would like to work on this under Gsoc'21.

[2021-03-11 14:43] karban8 commented on #6
Hi @oserikov I am Kartik , interested in contributing in this project. Please guide me how to proceed.

[2021-03-11 15:12] oserikov commented on #9
Hey! I will post some further details here ~ in the next 24hrs

[2021-03-11 15:12] oserikov commented on #1
Hey! I will post some further details here ~ in the next 24hrs

[2021-03-11 15:13] potato-patata commented on #11
We can use LASER embeddings (by Facebook). It works by transforming incoming language into a language-agnostic vector in a space, where all languages for the same input would point to the same area. That is to say, any incoming phrases with the same meaning would map to the same area in latent space. (https://towardsdatascience.com/multilingual-sentence-models-in-nlp-476f1f246d2f).

[2021-03-11 15:31] oserikov commented on #4
Hey! I will post some further details here ~ in the next 24hrs

[2021-03-11 15:31] oserikov commented on #5
Hey! I will post some further details here ~ in the next 24hrs

[2021-03-11 15:31] oserikov commented on #8
Hey! I will post some further details here ~ in the next 24hrs

[2021-03-11 15:31] oserikov commented on #3
Hey! I will post some further details here ~ in the next 24hrs

[2021-03-11 15:31] oserikov commented on #6
Hey! I will post some further details here ~ in the next 24hrs

[2021-03-11 15:32] oserikov commented on #11
Hey! LASER is a great idea ! I will post some further details here ~ in the next 24hrs

[2021-03-11 15:50] dhruv-kabariya commented on #8
@oserikov  thank you.

[2021-03-11 15:57] DARK-art108 commented on #3
Yeah sure @oserikov  :)

[2021-03-12 08:07] kapilpathak1112 commented on #3
Hi @oserikov, I would be working with the dialogue team of IBM Research, this summer. I am working on QA tasks for the last 3 years including datasets such as HotpotQA, ARC Challenge, etc.  I want to work on this project for GSOC'21. Thank you

[2021-03-12 17:58] goeladityx commented on #4
Hey! @oserikov , I have done a bit of research on this topic, and studied about data cleaning and data extraction as a form of NLP. I guess Entity linking could be accelerated by the knowledge, but i am still a bit confused about how could I start with the project, and how can i prove if I am a suitable candidate for the project or not?

[2021-03-13 08:08] Astreak commented on #5
Hey @oserikov ,I am interested to work in this project under GSOC 2021.

[2021-03-13 09:18] dhruv-kabariya commented on #8
any update @oserikov ???

[2021-03-13 15:39] ABHII100416 commented on #2
hello @oserikov . I am highly interested to work  in this project. May I get a kind guidance about how to proceed with the same.

[2021-03-13 16:44] avinsit123 commented on #4
Hi @oserikov any info yet. Also are you the mentor for this project?

[2021-03-13 22:52] thevasudevgupta commented on #5
Hello @oserikov, I would like to work on this project under GSoC 2021. Looking forward for the project details from you.

[2021-03-14 02:27] kshitijsoni commented on #3
Hi @oserikov , I have previously worked with IIT Kanpur on NLP frameworks and currently working with IIPE Vizag on Optimization of tool wear and tear. I want to work on this project. Kind regards

[2021-03-14 05:28] Edith-panda commented on #6
Hii ! @oserikov I'm interested to contribute to this project  for GSOC 2021. Please guide me to proceed further.

[2021-03-14 06:24] Edith-panda commented on #9
Hii @oserikov  I want to work on this issue of this project  for GSOC 2021. Could you please guide me on how to begin the contribution.

[2021-03-14 06:33] milindthakur177 commented on #5
Hello @oserikov, I would like to contribute to this project in GSoC 2021. Is there any prerequisite task that we have to do? or Are there any specific parts that you want to see on the project proposal?

[2021-03-14 06:36] milindthakur177 commented on #4
Hello @oserikov, I would like to contribute to this project in GSoC 2021. Is there any prerequisite task that we have to do? or Are there any specific parts that you want to see on the project proposal?

[2021-03-14 09:42] Edith-panda commented on #2
Hii @oserikov  I want to contribute on this issue of the project for GSOC 2021 . Please can you guide me how to proceed further with the same.

[2021-03-14 10:56] arya2910 commented on #11
@oserikov
My name is Arya Gupta and I am 2nd year computer science with specialization artificial intelligence undergraduate student at Medicaps University Indore, India. I am really interested in this project and looking forward to contribute to this project under GSOC. It  would be great assistance if you could suggest how to start with this project.

[2021-03-14 16:15] preeti13456 commented on #5
Hello, Myself Preeti Sharma. I have previously worked on ml system and worked as a data analyst previously. I also participate bin Kaggle competition and other contest to developed my skills. That's why want to work on this issue if you can guide about how to proceed that would be really helpful.

[2021-03-15 11:29] Abhishek-1Bhatt commented on #5
@oserikov please kindly speedup the process at your end as the date for proposal submission is nearing

[2021-03-15 11:32] Abhishek-1Bhatt commented on #5
Please inform us about the tasks that we must undergo in order to get the internship. It is very inconvenient for the students if there isn't a proper communication and the deadline is nearing everyday.

[2021-03-15 12:00] bhav09 commented on #3
Hello @oserikov sir,

I got to know about DeepPalov as I was working with chatbots. I really loved it! I had made a spelling corrector chatbot with the help of deeppalov. The thing that really impressed me was to implement it without coding a single line in python! From that instance, I decided to know more about it. Coincidentally, I got to know about deeppalov, taking part in GSoC'21, this doubl

[2021-03-15 12:11] oserikov commented on #11
@potato-patata , I'd some thoughts on the LASER models. First, classical LASER is shipped as a python package. It means, it would require some coding to integrate LASER into deeppavlov codebase. On the other hand, this holds for lots of approaches. So it probably woth it to take a look at how are embedding techniques implemented in DP.

[2021-03-15 12:14] oserikov commented on #11
@arya2910 hey! First things first, you probably should learn how deeppavlov pipelines work. Multilinguality techniques moslty rely onto word and sentence embedding techniques, so it's probably good idea to pay attention to DP embedding components. Another direction here is to dive deeper into the ASR|TTS stuff

[2021-03-15 12:19] potato-patata commented on #11
@oserikov Thank you for the reply, i will have a look at this and get back to you.

[2021-03-15 12:22] oserikov commented on #9
Hey @Heisenberg403 @lakshayr31 @Edith-panda ! Great to see you here. I think that goal-oriented bot example notebooks are the best entry to this task: most interesting ones are these using slotfilling and intents classification techniques. You probably will see that they're pretty naive . If you've already familiarized with them, I would suggest you to try to replace these naive components I menti

[2021-03-15 12:24] potato-patata commented on #11
@oserikov is there any way we can reduce the dependencies for config files when running on local machine?

[2021-03-15 12:25] oserikov commented on #6
Hey! @NEERAJAP2001 @karban8 @Edith-panda , great to see you here! This issue is based on the necessity to have a demo integration with popular APIs. While we're working on the API components to simplify the configuration of these, the best entry point for now is to inspect whether there exists an open API that suits the GO-bot scenario. Then, it woth learnin how api calls are made in the DP librar

[2021-03-15 12:39] oserikov commented on #5
Hey @arya2910 @Mudassaralimosu @Rohan-cod @praj000 @vasudevgupta7 @milindthakur177 @preeti13456 @Abhishek-1Bhatt ! Great to see you here. We have our Multitask Bert based on the TF1, while we're now migrating the whole library onto the newer frameworks. To get more familiar with the MT-bert, you could learn our [docs](http://docs.deeppavlov.ai/en/master/features/models/multitask_bert.html), [pipel

[2021-03-15 12:41] Edith-panda commented on #6
Hii @oserikov soo are you talking about https://gobot.io/ and we have to make changes in code base so that we will be able to integrate (demo),this API with Go- bot

I'm right please so tell me know if I'm missing something or else I'm mis interpreting something

[2021-03-15 12:47] oserikov commented on #3
Hey @Kapil-Pathak @Jeevan-Kiran-Lenka @DARK-art108 @kshitijsoni @bhav09 ! Great to see you here! While our next milestone is to integrate KBQA with various knowledge bases, an important step for now is to learn how it's working with Wikidata. So my advice is to both dive deeper into [demos](http://docs.deeppavlov.ai/en/master/features/models/kbqa.html) and to learn querying other similar KBs via b

[2021-03-15 12:49] oserikov commented on #1
Hey @0pride ! The best way to dive into the GO sota is to learn DSTC8 and DSTC9 proceedings. It's also a good Idea to get familiar with the [DIET](https://blog.rasa.com/introducing-dual-intent-and-entity-transformer-diet-state-of-the-art-performance-on-a-lightweight-architecture/) mechanism which is a great example of what our task is about

[2021-03-15 12:54] oserikov commented on #8
@hey @dhruv-kabariya ! Thats grat to see you here! Well, we have lots of configs like the ones created in this [tutorial](https://github.com/deepmipt/DeepPavlov/blob/master/examples/gobot_md_yaml_configs_tutorial.ipynb). While these NLU, Domain, Stories and several JSON configs are pretty straightforward, it would be nice to have puraly codeless generation of similar config-files. That is, users s

[2021-03-15 12:58] Edith-panda commented on #6
https://github.com/hybridgroup/cppp-io/blob/master/specification.markdown

[2021-03-15 13:00] kapilpathak1112 commented on #5
Hi @oserikov, I am working with Pytorch framework for past 3 years. Thanks for the update post

[2021-03-15 13:11] Edith-panda commented on #9
Hii @oserikov Am I going the right way because I'm beginner so plz do check it and correct me if I'm wrong https://towardsdatascience.com/training-a-goal-oriented-chatbot-with-deep-reinforcement-learning-part-i-introduction-and-dce3af21d383

[2021-03-15 13:35] QuickLearner171998 commented on #4
Hi @oserikov, I have experience in writing deep learning models in Keras/Tf and PyTorch. For GSoC 2021 I am interested in contributing to this project. At present, I am working on setting the repo on my local. Kindly guide how to proceed further.

Thanks

[2021-03-15 13:50] QuickLearner171998 commented on #5
Hi @oserikov, I have experience in writing deep learning models in Keras/Tf and PyTorch. For GSoC 2021 I am interested in contributing to this project. At present, I am working on setting the repo on my local. Kindly guide how to proceed further.

Thanks

[2021-03-16 03:54] Costub commented on #5
Hey @oserikov , I would love to contribute to this prokect in GSoC 2021. I have been working in PyTorch for quite some time now

[2021-03-16 04:27] Abhishek-1Bhatt commented on #7
Hello @oserikov I would like to contribute to this project under your mentorship. Can you please guide me on how to get started?

[2021-03-16 08:47] Stealth-py commented on #6
Hey @oserikov! I would like to work on this issue!

So, our current task should be to look out for some OpenAPIs which can be integrated with our current DP Go-Bot right?

[2021-03-16 09:18] Edith-panda commented on #6
Hiii @Stealth-py can you tell me if my statement  and thought was right or wrong and do you from where to start and how to start this process .

[2021-03-16 09:35] Stealth-py commented on #6
Hello @Edith-panda! So from what I understand, they're talking about the [DP Go-Bot framework](https://docs.deeppavlov.ai/en/master/features/skills/go_bot.html).
And, well we would have to look for an API ourselves which would suit the framework.
For now, I am gonna start reading more about the framework, and read more articles and papers about it. Try to learn more about it and get used to it. Th

[2021-03-16 11:06] Edith-panda commented on #6
Thanks for your reply @Stealth-py .

 I think before working we have to do brainstorming over this framework and even see how we can try to integrate API with our DP Go-Bot framework and for that we firstly have to introspect  (code bases )our own DP scenerio right .

 A good move @Stealth-py .

[2021-03-16 11:09] Stealth-py commented on #6
Yes, understanding the main crux and the concept behind a problem is the most logical way to approach it, IMO.
Thanks @Edith-panda!

[2021-03-16 13:05] tathagata-raha commented on #11
Hi @oserikov ,
I contacted you on Telegram regarding multilingual models in Indian languages. I proposed that IndicBERT could be used for the multilingual models for Indian languages.

[2021-03-16 13:26] vedantgoswami commented on #3
Getting error

[2021-03-16 13:30] tathagata-raha commented on #9
Hi, I am Tathagata. I sent you a few research papers regarding to entity linking few days back.

I wanted to share a bit different approach here. In SemEval 2021, there was a task called [MeasEval](https://competitions.codalab.org/competitions/25770) where the task was to parse and extract semantic relations related to measurements. The picture below will clear it:
![image](https://user-images.git

[2021-03-16 15:40] ShantanuDube commented on #3
Hi! @oserikov  I am an undergrad student from India with an experience of 2 years in NLP and  QA frameworks and I find this project interesting. I would  surely like to have an opportunity of working on this project in GSOC 2021.

[2021-03-16 16:14] MRafaydev commented on #5
Hey @oserikov, I want to contribute to this project because I am good at Python and AI, also 1 year experience in Tensor Flow, Keras, I would like to contribute to this project in GSOC 2021.

[2021-03-16 16:23] MRafaydev commented on #9
Hey @oserikov I want to work on this issue, please guide me further what are the next steps and how to proceed.

[2021-03-16 16:35] blaze-fire commented on #3
Hi, @oserikov  I also want to contribute to the project. I have installed deeppavlov, would also go through demos as mentioned by you

[2021-03-16 17:17] ShantanuDube commented on #9
Hi @oserikov I am a b.tech undergrad student from India. I would like to have the opportunity of working on this project in GSOC 2021 as it is aligned with my research interests and my experience of working on nlp of 2 years. Kindly suggest how to proceed.
Regards
Shantanu

[2021-03-16 18:27] ashishsun commented on #9
hello @oserikov I want to contribute in this project. I have done one project earlier in ml. I am new to open source world please guide how to solve my first issue here.

[2021-03-16 18:39] sinhaavi commented on #6
hello! avi this side, I am interested in this project can you please guide me how to begin.

[2021-03-16 19:26] dhruv-kabariya commented on #8
@oserikov  thank you for detail, I am looking at it and reach to you with idea of implantation as soon as possible.

[2021-03-16 20:17] tathagata-raha commented on #4
Hi @oserikov, I am Tathagata. I sent you a few research papers regarding to entity linking few days back.

I wanted to share a bit different approach here. In SemEval 2021, there was a task called [MeasEval](https://competitions.codalab.org/competitions/25770) where the task was to parse and extract semantic relations related to measurements. The picture below will clear it:
![image](https://user-

[2021-03-16 20:36] tathagata-raha commented on #1
Hi @oserikov, I went through the DSTC8 proceedings and the DIET architecture and I am a bit confused on what exactly needs to be incorporated from there. Will it be possible to look into the related documentation in Deeppavlov or a little more detail on what exactly Goal-Oriented means and what is the use case of this project?

[2021-03-17 05:21] benihime91 commented on #5
Hello @oserikov, I would like to work on this project under GSOC 2021. Could you please clarify what next steps we as interested students should take ?

[2021-03-17 08:44] dmitrijeuseew opened #12 "Relation Extraction"
**difficulty**: medium
**mentor**: @dmitrijeuseew
**requirements**: python
**useful links**: [Relationship Extraction in Papers with Code](https://paperswithcode.com/task/relation-extraction)

Description https://docs.google.com/document/d/1Q6Locx2CzXBR_Xop-ysim6bf1L0EH7wHf28XCXkYbQc/edit?usp=sharing

# Coding Challenge
Build Relation Prediction component based on two entities in phrase

[2021-03-17 13:49] #10 closed

[2021-03-17 14:02] oserikov opened #13 "Deepy Distribution Builder"
difficulty: challenging
mentor: @IgnatovFedor
requirements: containers, GUI

The task is to build an interactive interface which allows for users to compose their own [deepy](https://github.com/deepmipt/deepy) based on the desired components. The tool should allow to input the needed components and then should generate a directory with proper components put together.

# Coding Challenge
Write GUI

[2021-03-17 14:05] oserikov commented on #9
@Edith-panda , I suggest you to build a bot on top of deeppavlov's Goal-Oriented framework. See the example here: https://github.com/deepmipt/DeepPavlov/blob/master/examples/gobot_md_yaml_configs_tutorial.ipynb

[2021-03-17 14:19] oserikov commented on #1
Yeah. Well the core Idea of these papers, and the newer ones, is that the SotA is now based on end-to-end approaches, while DP now does'n have a GO component built in e2e manner.  So the Idea is that we need to implement an e2e dialogue tracking (e.g. smth multiheaded) into the GO-bot instead of having separate Intents classifier and Slotfiller components.

You could find interesting our current a

[2021-03-17 14:21] oserikov commented on #1
added @vaskonov as a mentor

[2021-03-17 14:24] oserikov opened #14 "Implement MLM mechanism in deeppavlov based on huggingface MLM models"
# Coding Challenge
Integrate one of the BERT-based MaskedLM models. The mlm modeling should be wrapped into the deeppavlov chaining mehanism as a [Component](https://github.com/deepmipt/DeepPavlov/blob/master/deeppavlov/models/tokenizers/split_tokenizer.py) (in the naive setting it means that it has to implement `__call__` method).

[2021-03-17 14:27] oserikov opened #15 "Integrate wandb/neptuneai/mlflow with DeepPavlov"
difficulty: challenging
mentor: @yurakuratov @IgnatovFedor
requirements: Tensorboard

We support now tensorboard to track experiments while other platforms exist, e.g. ([wandb](https://wandb.ai/site) or [mlflow](https://mlflow.org/))

# Coding Challenge

Integrate wandb into DeepPavlov (as TensorBoard)

[2021-03-17 17:54] tathagata-raha commented on #12
@dmitrijeuseew I am exploring this problem and going through related research. Although it might be helpful if you could share some related research papers.

One idea was that to check in a knowledge graph to extract relation. In that case, the knowledge graph might not be exhaustive and we might not get a lot of relation. Another option is to use OpenIE or [MinIE](https://www.aclweb.org/anthology

[2021-03-17 18:17] dmitrijeuseew commented on #12
@tathagata-raha One of the approaches is consider relation extraction as classification task. Entities in the text are replaced with corresponding NER tags, this sentence is fed into BERT and CLS-token output vector is fed into dense layer for classification into classes corresponding to relations. Another approach is joint entity and relation extraction (https://arxiv.org/abs/2010.03851)

[2021-03-17 18:23] dmitrijeuseew commented on #12
Also, relation extraction can be considered as question answering task (https://arxiv.org/abs/2010.04829)

[2021-03-18 13:33] iam-sarthak commented on #14
Hello @oserikov.
May you tell me more about that.

[2021-03-18 14:18] Edith-panda commented on #14
Hii @oserikov
This sounds interesting , can you elaborate it further.

[2021-03-18 14:54] Edith-panda commented on #14
Hii @oserikov
I have started with some codes
![IMG_20210318_202018](https://user-images.githubusercontent.com/73990998/111646554-c2e7b800-8827-11eb-8c77-f467015f16b2.jpg)
 But some error popped up please can you guide me how to solve it further.
![IMG_20210318_202054](https://user-images.githubusercontent.com/73990998/111646684-e01c8680-8827-11eb-9a1c-5a0e733f45ff.jpg)

Thanks in advance!!

[2021-03-18 17:33] Edith-panda commented on #6
Hii @oserikov
https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.1.0.md
 This is the latest version of OpenAPI but where can I find the things related to integration with other APIs and frameworks and other stuff.

Thanks in advance!!

[2021-03-19 13:12] vedantgoswami commented on #9
@oserikov I had gone through your DeepPavlov's GO-bot ipynb and understand the framwork that is been used now can you suggest what we have to do next?

[2021-03-19 14:45] alexaapo commented on #5
Hey @oserikov, I would like to work on this project of GSoC 2021 too. To make it clear, as far the implementation, it will be in PyTorch or TensorFlow?

[2021-03-19 18:13] vaskonov opened #16 "Build a GLUE/SuperGLUE/Russian SuperGLUE evaluation suite"

[2021-03-19 18:13] vaskonov opened #17 "DFF as a separate Python package"
**difficulty**: easy
**mentor**: @kudep
**requirements**: python
**useful links**:
- [DFF project](https://github.com/kudep/dff_raw_version)
- [DFF is based on stdm](https://github.com/emora-chat/emora_stdm)

# Coding Challenge
You need to make a dilalog bot based on DFF that asks 5 questions about [Zen of Python](https://en.wikipedia.org/wiki/Zen_of_Python) and checks the correctness of the answe

[2021-03-19 18:14] vaskonov opened #18 "Integrate wandb/neptuneai/mlflow with DeepPavlov"
Consider integrating wandb into the library (as TensorBoard)

[2021-03-19 18:15] vaskonov opened #19 "Implement and train BertForMaskedLM"
Migrate one of the BERT-based MaskedLM into DeepPavlov

[2021-03-19 18:17] vaskonov opened #20 "Extract triplets from text (OIE)"
Build Relation Prediction component based on two entities in phrase

[2021-03-19 18:17] vaskonov opened #21 "Refactor KBQA"
Grab Query Generator component and refactor it

[2021-03-19 18:18] vaskonov opened #22 "Refactor Entity Linking"

[2021-03-19 18:18] #11 closed, assigned to nobody

[2021-03-19 18:21] arya2910 commented on #11
hey @danielkornev  why this issue is closed . Are we not going to work on this project??

[2021-03-19 18:24] #16 closed, assigned to nobody

[2021-03-19 18:31] #22 closed, assigned to nobody

[2021-03-19 18:31] #21 closed, assigned to nobody

[2021-03-19 18:32] #18 closed, assigned to nobody

[2021-03-19 18:33] #19 closed, assigned to nobody

[2021-03-19 18:33] #20 closed, assigned to nobody

[2021-03-19 18:42] danielkornev commented on #2
closing for this year

[2021-03-19 18:42] #2 closed

[2021-03-19 18:45] danielkornev commented on #4
We strongly recommend to focus on this issue instead:
https://github.com/deepmipt/deeppavlov-contrib-drafts/issues/12

[2021-03-19 18:56] tathagata-raha commented on #17
Can you tell me the full form of DFF?

[2021-03-19 19:11] danielkornev commented on #5
All new projects are in PyTorch

[2021-03-19 19:51] tathagata-raha commented on #12
@dmitrijeuseew @danielkornev Can you explain the coding challenge a bit? Like in the GSoC task itself we have to build a relation extraction model right. What is the expected outcome of this coding challenge?

Like suppose in the example, Steve Jobs founded Apple, the output will be {"Steve Jobs", "Apple", "founded"}. So for sentences with two entities, it can be built with simple rule-based model

[2021-03-19 21:16] tathagata-raha commented on #14
@oserikov, for this task is using a pretrained huggingface bert model would be enough or do we finetune a pretrained model on any dataset?

[2021-03-20 01:43] kudep commented on #17
DialogFlow Framework  is a framework that makes it easy to create dialog graphs. You can find more about that in [this](https://github.com/kudep/dff_raw_version) repo.

[2021-03-20 03:20] Edith-panda commented on #14
Hii @tathagata-raha  I think we have to pretrain a model for our project seperately as I have tried with  already trained (a hugging face) model but it gives me an error .
Do you how to start with that ?

[2021-03-20 04:55] dhruv-kabariya commented on #8
oserikov and @danielkornev ,I went through the notebook you provide me in GitHub : build go-bot developer tool gui. It was informative and I get understand the idea. So let me brief what I understand if I am wrong, please correct me. So we want to make GUI for create 3 essential file ( stories.md, nlu.md and domain.yml ). Here domain.yml contain information for bot to what to reponde for given inp

[2021-03-20 05:11] dhruv-kabariya commented on #8
Here the project we aim for develop GUI to create this 3 essential file and other json configuration file. Now we have two choice .  1. website and 2. desktop app. For both of application I think Flutter is best framework. As we can develop Mobile application, website and desktop application with single code base. So it will help to reach audience with every option. It is opensource and maintain b

[2021-03-20 05:51] 18bce133 commented on #4
Hi, @oserikov  I am Nihar Thakkar, a pre-final year computer science engineering student at Nirma University.
I went through your project "Deep autoencoders for ATLAS data compression" and found it very insightful and interesting and aligned with my skillset. I have worked on Python, deep learning and I am proficient with it.  I am interested in contributing to your project via GSOC. Please guide

[2021-03-20 07:42] oserikov commented on #14
@tathagata-raha , pretrained models are enough, but the mlm modeling mechanism should be then wrapped into the framework. See the updated description in the first coment for some references.

[2021-03-20 07:43] oserikov commented on #14
@Edith-panda it would be easier with Automodel or BertForMLM huggingface classes

[2021-03-20 07:57] oserikov commented on #9
@vedantgoswami I suggest you to give coding challenge a try. The task here is to take MultiWOz dataset and build intents classifiers and slotfillers using deeppavlov on top of this dataset.

[2021-03-20 08:03] oserikov commented on #8
@dhruv-kabariya the target platform is web, so if there's anything not that suitable for mobiles but more handy than flutter for web, feel free to pick it. If you feel like flutter is enough, it sounds ok to me too.

[2021-03-20 08:31] oserikov commented on #7
@Abhishek-1Bhatt hey! see the updated coding challenge here!

[2021-03-20 08:34] Abhishek-1Bhatt commented on #7
I'll start working on it Sir. Thank you for the update .

[2021-03-20 08:53] oserikov commented on #3
Hey! See the appeared coding challenge ^_^

[2021-03-20 09:23] danielkornev commented on #11
(duplicate of response in TG group)

Hi Arya!

This is the first year of our participation in GSoC. While we'd be thrilled to have contributions done across all of the areas of our projects, we feel it'd be better to focus on things that are closer to the core of our projects.

We appreciate interest in multilingualism, and, in a way, we support it with multilingual BERT, however, we'd like to foc

[2021-03-20 09:23] danielkornev commented on #12
@dmitrijeuseew ?

[2021-03-20 09:31] oserikov commented on #6
@Edith-panda well, to my knowledge, there are literally banks of openapi-compatible apis.

[2021-03-20 10:12] dmitrijeuseew commented on #12
@tathagata-raha The sentences can contain several (more than two) entities and more than one subject-relation-object triplets. It is rather difficult to write rule-based methods for relation extraction in sentences with multiple entities. So I suggest using deep learning models, for example, https://towardsdatascience.com/bert-s-for-relation-extraction-in-nlp-2c7c3ab487c4 or https://arxiv.org/abs/

[2021-03-20 11:01] potato-patata commented on #12
@dmitrijeuseew can we use 1d-CNN for feature extraction (in this case entities) and train the model with existing dictionary?
 I had previously worked on similar project where I used to predict whether a sentence is sarcastic or not on Twitter data using lexicon and 1d-cnn approach.
Please guide me if this is correct approach or not?

[2021-03-20 12:33] DARK-art108 commented on #15
Hello @yurakuratov @IgnatovFedor I have attached a callback of wandb in fit_trainer.py but I am confused that on which file should I start to add wandb, wandb basically captures weights and biases, as I have tried with the above fit_trainer.py file because I see tensorboard is using their, but wandb is only captured the memory utilization and CPU resource allocation while running that file,so plea

[2021-03-20 13:14] mablin7 commented on #8
Hey @oserikov! I'm Balint Magyar, student from Hungary, currently studying in Moscow (transferring to MIPT from next year!). Super excited about this project! I have some experience in machine learning and computational linguistics, but I think my strength is UI, that's why this proposal caught my attention.

I've been playing around with deeppavlov for a while, and I have to agree that a nice UI

[2021-03-20 13:44] danielkornev commented on #8
Hi Balint,

We'd be thrilled to have you aboard!

Tool's goal is to provide a low-code environment for users interested in building goal-oriented skills using Go-Bot within DeepPavlov Deepy<https://github.com/deepmipt/deepy>.

Go-Bot thrives for backwards compatibility with RASA (and soon with its v 2.0), however our goal is to build on top of its format to integrate our improvements that RASA fra

[2021-03-20 17:25] mablin7 commented on #8
So, if I understood correctly the tool should cover the features of Deepy, of which the gobot framework is only a component? I'm still wrapping my head around all the features offered by DP.

If so, the graph editor could be used to configure the components of deepy, like the annotators, skills, skill selectors and so on.  It could have a palette of components provided by deepy, which the user can

[2021-03-20 20:23] danielkornev commented on #8
Yes, though things are a bit more complicated. For example, skills can use annotations, and so can skill and response selectors.

:)

Get Outlook for Android<https://aka.ms/AAb9ysg>

________________________________
From: mbalint ***@***.***>
Sent: Saturday, March 20, 2021 8:25:53 PM
To: deepmipt/deeppavlov-contrib-drafts ***@***.***>
Cc: Daniel Kornev ***@***.***>; Mention ***@***.***>
Subject: R

[2021-03-20 23:15] tathagata-raha commented on #9
@oserikov, I went through the MultiWOZ dataset and as I can understand for intent classifiers, we have to train the model on the utterances and the active_intent values. For the slotclassifier, I am not quite sure what has to be done. Like for example in the particular frame below, the entity types are attraction-area and attraction type and the entity values are center and entertainment. But acco

[2021-03-21 08:49] tuhinnn-py commented on #5
Hey @oserikov , I would love to work on this project for GSoC 2021.

[2021-03-21 09:28] dmitrijeuseew commented on #12
@potato-patata Could you explain please how you are going to encode entities in the sentence?

[2021-03-21 09:40] potato-patata commented on #12
I will be using a library named "spacy", which has more freedom then nltk and provides greater functionalities, it will make encoding easy and will help in NER's and eventually relation extraction.
I will attach a sample notebook in some time highlighting the same.

[2021-03-21 10:00] dmitrijeuseew commented on #12
@potato-patata I suggest using NER model from DeepPavlov https://github.com/deepmipt/DeepPavlov/blob/master/deeppavlov/configs/ner/ner_ontonotes_bert.json

[2021-03-21 10:07] Abhishek-1Bhatt commented on #7
@oserikov  hey! I found a demo repository for demonstration of the valentine's Day skill of the DREAM project, should I start building my weather communicator by performing modifications to it?

[2021-03-21 10:08] Abhishek-1Bhatt commented on #7
Li

Like adding annotators, external server(API) etc.

[2021-03-21 10:23] oserikov commented on #15
@DARK-art108 While waiting for guys response, let me suggest you to take a deeper look into chainer component available from fit_trainer: from here you can access all the pipeline elements: moth models and metrics. You could e.g. use breakpoints to inspect which chainer components are relevant to you in the runtime

[2021-03-21 10:31] oserikov commented on #9
@tathagata-raha , you got it right with intents classification. On the slotfilling, could you also provide an utterance related to the json you posted?

And with tf, i strongly believe it will work with tf 1.14 (while actually 1.15.2 is probs better) but you need to ensure that you'd restarted the jupyter runtime after reinstelling tf, bc 2.0 will still be cached otherwise. If this still is a prob

[2021-03-21 11:05] Edith-panda commented on #6
Hii @oserikov Is it ok to start with Google Calendar Open API for integration .

[2021-03-21 11:08] oserikov commented on #6
@Edith-panda sounds great! Let me put some starter codes together, I'll share them here.

[2021-03-21 11:19] oserikov commented on #7
@Abhishek-1Bhatt yeah, Valentine's is great starting point! You could actually start with simply migrating Valentine's day logic onto the GO-bot framework of DeepPavlov: this will give you an intuition on how things are organized in both Agent and Library.

[2021-03-21 11:28] Edith-panda commented on #6
@oserikov ok sir !

[2021-03-21 11:34] potato-patata commented on #12
Heyy, @dmitrijeuseew can you have a look at the branch "relation_extraction_coding_challenge". I have pushed an sample jupyter notebook which incorporates spacy, Could you please have a look at it.

[2021-03-21 14:08] Abhishek-1Bhatt commented on #7
Hello @oserikov , so I tried to run the demo version of DREAM on my device. I am able to build it but it uses port 4242. When I open port 4242 it says "405: Method Not Allowed" can you suggest anything to get around this problem, so that I can use it and move forward with building the weather bot and migrate it to the GO-bot framework in DP. So far I am seeing that it is not opening because port 0

[2021-03-21 14:09] Abhishek-1Bhatt commented on #7
By the way I use ubuntu 18.04 and firefox browser.

[2021-03-21 15:11] tathagata-raha commented on #12
@dmitrijeuseew, can you tell me a dataset on which i can train my model? I tried to got for ACE 2005 dataset bt it was not free.

[2021-03-21 16:56] Muennighoff commented on #14
I added a basic huggingface MLM model to DeepPavolov [here](https://github.com/Muennighoff/DeepPavlov/tree/BertMLM).
So far I only added inference & one basic config.

Here's an example of performing inference & getting mask probabilities in colab with DeepPavolov:
https://colab.research.google.com/drive/1BZyNTLqI2LqiRKSCdQUkaHOQys8b9LiA?usp=sharing

Results are okay given that the model has newly

[2021-03-21 17:00] dmitrijeuseew commented on #12
@tathagata-raha You can use TACRED dataset.

[2021-03-21 17:22] tathagata-raha commented on #9
@oserikov, yeahh I didnt restart the colab runtime and this was getting this error. However, I got a new error. You can check the error [here](https://colab.research.google.com/drive/1DKvR26fb8pWchKEWsjmsS4YYFHmaqqHX?usp=sharing).

You can take a look at the utterance [here](https://raw.githubusercontent.com/budzianowski/multiwoz/master/data/MultiWOZ_2.2/train/dialogues_001.json) and [here](https:

[2021-03-21 17:31] Edith-panda commented on #15
Hii @oserikov  can we integrate wandb and Neptuneai in the same manner we were trying to integrate other Open APIs  with DeepPavlov.
Or else the process is different for it ?

[2021-03-22 03:39] Abhishek-1Bhatt commented on #7
@oserikov can you suggest me how to migrate the valentine's logic in the go bot framework, unable to figure out from where to get started

[2021-03-22 08:01] arya2910 commented on #7
@oserikov how much time should it take to build a demo version of dream in docker . its taking more time to run.am i doing it in right direction??
![Screenshot 2021-03-22 133019](https://user-images.githubusercontent.com/56691261/111958045-cd010380-8b12-11eb-8f60-6043a1dff8f5.jpg)

[2021-03-22 11:02] Edith-panda commented on #6
@oserikov Should I start working on integration of google calendar with DP scenario or else you are providing some codes and information .

[2021-03-22 14:01] vedantgoswami commented on #9
Do you need this type of bot please confirm
![Untitled](https://user-images.githubusercontent.com/56600948/112001699-36016f00-8b45-11eb-93b4-648530ae7799.png)

[2021-03-22 14:14] arya2910 commented on #7
@oserikov I have build a weather communication bot using an external API key from openweathermap site through google app script. I haven't used annonators or skills. can you guide me how can i do modifications on it.

you can check that with this script id.
1KCh6leluo2ZskA06qmIPIufiPoc3rt7g6PPcQ7XLpFieZUkNOVR8yFo-

[2021-03-22 14:51] rashmiprabhat567 commented on #6
Hey @oserikov , if we could integrate the Google cloud storage API into the DP model? Kindly provide the starter codebase if this is a good idea.

[2021-03-22 17:31] AjinkyaDeshpande39 commented on #4
Respected sir, myself Ajinkya 2nd yr Btech student From NIT Nagpur India . I have learnt NMT and Transformers and have good hand over it. I have done some projects on Seq2Seq translation and sentiment analysis. I have seen this project and got interest in it. I would like to know more about it. Can you please provide more details over it , and what more prerequisites are there ?

[2021-03-22 17:37] AjinkyaDeshpande39 commented on #3
I am an undergrad student from NIT India . I have learnt NMT, transformers. I have a year of experience in NLP .I found this project interesting. I would really like to contribute.

[2021-03-22 17:46] mablin7 commented on #8
I've been reading through deepy and DP-Agent and I'm still trying to figure out the overall concept for the tool.
What level of abstraction should it have? Should the user directly configure the pipeline of DP-Agent components, like in my previous sketch? If so, how to deal with the implicit data dependencies between the components, for example the different skills and response selectors requiring

[2021-03-22 18:20] oserikov commented on #6
@Edith-panda I just took a deeper look into the idea of using the google api. I'd suggest you to use smth simpler. E.g. weather api provided by https://api.weather.gov/swagger.json . My suggestion it first to learn to use e.g. alerts/active/region/ from here . I've nearly finished putting starter codes together and will share the linke here within an hour

[2021-03-22 18:47] dmitrijeuseew commented on #12
@potato-patata Your solution is very good, but it has the limitation of extracting only one relation from the sentence. The sentence can have several relations (for example, in the sentence "Steve Jobs founded Apple in 1976." there are two relations: "founder" and "inception"). I suggest using neural network-based methods for relation extraction.

[2021-03-22 19:08] arya2910 commented on #7
@oserikov hey!! as now i understood to build a Go-bot which  perform naive weather communication.  we need to provide Go-Bot framework with a dataset (in RASA v1 or DSTC2 formats).
and for now only three essential files stories.md, nlu.md, domain.yml are supported by the DeepPavlov Go-Bot Framework..

am i going in the right direction??

[2021-03-22 20:47] aryasoni98 commented on #5
Hey @oserikov , I would like to work on this project of GSoC 2021 too.

[2021-03-22 20:50] aryasoni98 commented on #9
Hey @oserikov  I would like to work on this project of GSoC 2021. Could you help me with some steps on how to proceed? Thanking you,

[2021-03-23 05:44] oserikov commented on #6
@Edith-panda  @rashmiprabhat567 here are starter codes. They're using codegen to wrap any API into the pythonic functions: https://github.com/deepmipt/DeepPavlov/blob/openapi_integration/examples/openapi-codegen.ipynb . I suggest you to fork and proceed in the openapi_integration branch,

The challenge is to build a deeppavlov.Estimator class similar to https://github.com/deepmipt/DeepPavlov/blob/

[2021-03-23 05:48] rashmiprabhat567 commented on #6
on it @oserikov !

[2021-03-23 07:35] ankith-v commented on #6
Hey @oserikov
From what I understand, the task is to check what the API request is and then to make the call, return the response through the call method. Am I on the right track?

[2021-03-23 10:35] iamPavanKrishna commented on #9
Hi @oserikov I would like to work on this issue. Could you help me with some steps on how to proceed?

Thank you,
Pavan.

[2021-03-23 12:24] arya2910 commented on #7
@oserikov what should be the heading of this project for gsoc proposal??

[2021-03-23 16:05] Daishinkan002 commented on #12
@dmitrijeuseew I'm unable to find Tacred dataset. I got this when I was searching (" You can download TACRED from the https://catalog.ldc.upenn.edu/LDC2018T24. If you are an LDC member, the access will be free; otherwise, an access fee of $25 is needed. "). Need help to download. Thanks in advance.

[2021-03-23 16:23] potato-patata commented on #12
@Daishinkan002 https://github.com/yuhaozhang/tacred-relation follow this repo for downloading tacred dataset.
Hope this helps :)

[2021-03-23 16:27] tathagata-raha commented on #12
The dataset contains only 20 training examples. It doesn't make any sense to build a model on top of that.

[2021-03-23 17:46] ekdnam commented on #3
Hi @oserikov. In the card for this issue, the following is mentioned

I have not been able to understand what is meant by that. Can you perhaps explain?

[2021-03-23 18:43] Tanu911 commented on #5
Hello @oserikov .
My name is Tanu Agarwal. I am a third year undergraduate from IIT Guwahati. I am really interested in working on this project. I have been working on NLP for past whole year and would be extremely glad to contribute to refactor Multitask BERT.
My LinkedIn profile: https://www.linkedin.com/in/tanu911/

[2021-03-23 18:46] kirikbandar commented on #12
Hi @dmitrijeuseew, i am interested in working on this task, and have been doing some research on the different ways relation extraction can be done. In this particular case, what are looking at, are we open to any approach (there are a few papers that you have mentioned- different methodologies)? Also, at this point, are we looking more at exploring which method suits our case better, and then dra

[2021-03-23 18:47] Tanu911 commented on #4
Hello @oserikov .
My name is Tanu Agarwal. I am a third year undergraduate from IIT Guwahati. I am really interested in working on this project. I have been working on NLP for past whole year and would be extremely glad to contribute to refactor Entity Linking.
My LinkedIn profile : https://www.linkedin.com/in/tanu911/

[2021-03-23 18:49] Tanu911 commented on #3
Hello @oserikov .
My name is Tanu Agarwal. I am a third year undergraduate from IIT Guwahati. I am really interested in working on this project. I have been working on NLP for past whole year and would be extremely glad to contribute to refactor Entity Linking.
My LinkedIn profile : https://www.linkedin.com/in/tanu911/

[2021-03-23 18:51] Tanu911 commented on #3
Hello @oserikov .
My name is Tanu Agarwal. I am a third year undergraduate from IIT Guwahati. I am really interested in working on this project. I have been working on NLP for past whole year and would be extremely glad to contribute to refactor KBQA.
My LinkedIn profile: https://www.linkedin.com/in/tanu911/

[2021-03-23 19:12] dmitrijeuseew commented on #12
@kirikbandar I think that it will be very useful for DeepPavlov library (and a good practice for you) to implement approach with table-sequence encoders (joint entity and relation extraction) (as in https://arxiv.org/abs/2010.03851).

[2021-03-23 19:15] dmitrijeuseew commented on #12
@kirikbandar We can discuss another methods if you would like.

[2021-03-24 03:04] kirikbandar commented on #12
Thanks, @dmitrijeuseew.
 Alright, I will work on the two encoder approach, and also keep an eye on other methods.

[2021-03-24 06:31] dmitrijeuseew commented on #12
@Daishinkan002 @potato-patata @tathagata-raha  You can use also NYT dataset https://github.com/xiangrongzeng/copy_re (no license required).

[2021-03-24 06:33] dmitrijeuseew commented on #12
@kirikbandar Tell me please what Github repository and branch you are going to use for development of the model (to track the progress).

[2021-03-24 06:47] oserikov commented on #17
We're starting **regular review** sessions of your application **proposals** drafts.

**Every Thursday** you can submit Google doc with your proposal (remember the limit of 3 final proposals in total), enable commenter access in the provided link. You won't have to re-submit your proposal(s) if the link stays the same.

Proposals should follow our released [template](https://deeppavlov.ai/gscoc_20

[2021-03-24 06:47] oserikov commented on #15
We're starting **regular review** sessions of your application **proposals** drafts.

**Every Thursday** you can submit Google doc with your proposal (remember the limit of 3 final proposals in total), enable commenter access in the provided link. You won't have to re-submit your proposal(s) if the link stays the same.

Proposals should follow our released [template](https://deeppavlov.ai/gscoc_20

[2021-03-24 06:49] oserikov commented on #15
@Edith-panda , I'd better write a custom integration backbone for WandB. This is because buisness APIs shouldn't have such an in-depth access to the models as ML logging APIs

[2021-03-24 06:49] oserikov commented on #14
@Muennighoff great! I will review this today's evening

[2021-03-24 06:49] oserikov commented on #14
We're starting **regular review** sessions of your application **proposals** drafts.

**Every Thursday** you can submit Google doc with your proposal (remember the limit of 3 final proposals in total), enable commenter access in the provided link. You won't have to re-submit your proposal(s) if the link stays the same.

Proposals should follow our released [template](https://deeppavlov.ai/gscoc_20

[2021-03-24 06:49] oserikov commented on #13
We're starting **regular review** sessions of your application **proposals** drafts.

**Every Thursday** you can submit Google doc with your proposal (remember the limit of 3 final proposals in total), enable commenter access in the provided link. You won't have to re-submit your proposal(s) if the link stays the same.

Proposals should follow our released [template](https://deeppavlov.ai/gscoc_20

[2021-03-24 06:50] oserikov commented on #12
We're starting **regular review** sessions of your application **proposals** drafts.

**Every Thursday** you can submit Google doc with your proposal (remember the limit of 3 final proposals in total), enable commenter access in the provided link. You won't have to re-submit your proposal(s) if the link stays the same.

Proposals should follow our released [template](https://deeppavlov.ai/gscoc_20

[2021-03-24 06:57] oserikov commented on #9
@tathagata-raha , well, `attraction area`, `attractoin type` and all the alike are not *that* much, so this will work.

BIO-tags can be restored from text if you tokenize it with the same tokenizer as used by NER model. Then you should just properly label tokens which are mentioned as slot values

[2021-03-24 06:57] oserikov commented on #9
We're starting **regular review** sessions of your application **proposals** drafts.

**Every Thursday** you can submit Google doc with your proposal (remember the limit of 3 final proposals in total), enable commenter access in the provided link. You won't have to re-submit your proposal(s) if the link stays the same.

Proposals should follow our released [template](https://deeppavlov.ai/gscoc_20

[2021-03-24 06:57] oserikov commented on #8
We're starting **regular review** sessions of your application **proposals** drafts.

**Every Thursday** you can submit Google doc with your proposal (remember the limit of 3 final proposals in total), enable commenter access in the provided link. You won't have to re-submit your proposal(s) if the link stays the same.

Proposals should follow our released [template](https://deeppavlov.ai/gscoc_20

[2021-03-24 06:58] oserikov commented on #7
We're starting **regular review** sessions of your application **proposals** drafts.

**Every Thursday** you can submit Google doc with your proposal (remember the limit of 3 final proposals in total), enable commenter access in the provided link. You won't have to re-submit your proposal(s) if the link stays the same.

Proposals should follow our released [template](https://deeppavlov.ai/gscoc_20

[2021-03-24 06:58] oserikov commented on #7
@Abhishek-1Bhatt yeah, I will post some suggestions later today.

[2021-03-24 06:58] oserikov commented on #7
@arya2910 yes, you got it absolutely right

[2021-03-24 06:59] oserikov commented on #6
We're starting **regular review** sessions of your application **proposals** drafts.

**Every Thursday** you can submit Google doc with your proposal (remember the limit of 3 final proposals in total), enable commenter access in the provided link. You won't have to re-submit your proposal(s) if the link stays the same.

Proposals should follow our released [template](https://deeppavlov.ai/gscoc_20

[2021-03-24 07:00] oserikov commented on #5
@dimakarp1996 , could you please share your expertise on all these great questions?

[2021-03-24 07:00] oserikov commented on #5
We're starting **regular review** sessions of your application **proposals** drafts.

**Every Thursday** you can submit Google doc with your proposal (remember the limit of 3 final proposals in total), enable commenter access in the provided link. You won't have to re-submit your proposal(s) if the link stays the same.

Proposals should follow our released [template](https://deeppavlov.ai/gscoc_20

[2021-03-24 07:00] oserikov commented on #3
We're starting **regular review** sessions of your application **proposals** drafts.

**Every Thursday** you can submit Google doc with your proposal (remember the limit of 3 final proposals in total), enable commenter access in the provided link. You won't have to re-submit your proposal(s) if the link stays the same.

Proposals should follow our released [template](https://deeppavlov.ai/gscoc_20

[2021-03-24 07:01] oserikov commented on #1
We're starting **regular review** sessions of your application **proposals** drafts.

**Every Thursday** you can submit Google doc with your proposal (remember the limit of 3 final proposals in total), enable commenter access in the provided link. You won't have to re-submit your proposal(s) if the link stays the same.

Proposals should follow our released [template](https://deeppavlov.ai/gscoc_20

[2021-03-24 08:07] ShalinJain1603 commented on #5
Hello, @oserikov @dimakarp1996.
I am Shalin Jain, a Pre-Final Year Student from IIT Guwahati.  I have done several projects in the field of NLP and have been working on it for more than a year. I will be glad to with you on making refactor Multitask BERT a success.

[2021-03-24 09:10] Edith-panda commented on #6
Hii @oserikov https://gist.github.com/nikhilkumarsingh/8a88be71243afe8d69390749d16c8322
Is this process and codes are right for API integration as I'm learning now .
Or else have to use some other code and methods.

[2021-03-24 09:11] Edith-panda commented on #6
Firstly I will try to learn with this and then try to implement it in starter code provided by you. Fine.

[2021-03-24 09:42] kirikbandar commented on #12
@dmitrijeuseew I am using this Deepavlov repo (https://github.com/deepmipt/DeepPavlov). I have created a branch called "table_sequence_encoder_based_relation_extraction" with an empty notebook as of now. I shall make my updates on that.

[2021-03-24 09:43] arya2910 commented on #7
thanks @oserikov  so should i start working on this coding challenge before GSOC proposal.

[2021-03-24 09:44] KevinMathewT commented on #5
Hey, @oserikov and @dimakarp1996,
I'm Kevin Mathew, a senior year undergraduate from BIT Mesra, with relevant experience in PyTorch and NLP.
So, for the coding challenge, I was reading the CA-MTL paper and thought I give the challenge a try. I have not implemented much, just the forward pass, I took help from the official implementation of the paper, do check it out https://colab.research.google.c

[2021-03-24 10:57] tathagata-raha commented on #12
Hi @dmitrijeuseew, as I have seen the table sequence-based approach has already been implemented [here](https://github.com/LorrinWWW/two-are-better-than-one). Do we need to implement it again for the purpose the coding challenge? We can anyways use the same implementation of their for building a DeepPavlav model. The main challenge is how to migrate the logic to DeepPavlov stack. The migration wou

[2021-03-24 11:26] dmitrijeuseew commented on #12
@tathagata-raha Yes, the challenge is to migrate the model to DeepPavlov configs (so that the model could be trained using deeppavlov command
python -m deeppavlov train relation_extraction
and launched using
python -m deeppavlov interact relation_extraction
).
Also, if you have any ideas how to improve the model so that it will show better metrics, you are welcome.

[2021-03-24 11:32] tathagata-raha commented on #12
So my question is are we supposed to migrate the model now as part of the coding challenge or in the GSOC period? As I understood looking at the other issues, the coding challenges are supposed to give us an understanding of how DeepPavlov works but migrating the whole model to DeepPavlov should be a part of the GSOC task itself right?

[2021-03-24 14:32] rishabhdhenkawat commented on #6
hi @oserikov i really like the concept of deeppavlov can u provide me some resources to learn more about it

[2021-03-24 15:13] Edith-panda commented on #6
Hii @rishabhdhenkawat mentor has given resources in issue chats https://en.wikipedia.org/wiki/OpenAPI_Specification also tutorial has been provided in deeppavlov main account.

[2021-03-24 19:05] Abhishek-1Bhatt commented on #7
@oserikov hey! I was able to complete the coding challenge with the help of RASA framework. I have created a naive weather bot capable of communicating typical weather characteristics with the help of NLU and NLG capabilities of RASA and by making API calls to OpenWeatherMap API. Please check out the code in my [repository](https://github.com/Abhishek-1Bhatt/Naive-Weather-Bot-with-Rasa-2.x.x.x)

[2021-03-25 06:09] krutikabapat commented on #5
Hey @oserikov. I am Krutika Bapat, a final year MS student in computer science at Arizona State University. I have a good amount of internship experience in NLP and have done the latest Internship at American Express AI Labs where I have exclusively worked on the BERT models for Question Answering. I have used BERT on SQUAD data for transfer learning. I would really like to contribute to this proj

[2021-03-25 07:15] anushka17agarwal commented on #6
Hello @oserikov.
I've some decent API experience in flask and Django. And I wish to take this project for Gsoc'21. Can I already start contributing or first work on my proposal?

[2021-03-25 11:17] oserikov commented on #7
@Abhishek-1Bhatt wow great! Now the next step is to migrate this RASA app to deeppavlov RASA-compatible GO-bot (if API will be a problem, temporarily mock with some default response, I will then suggest the further step)

[2021-03-25 11:51] oserikov commented on #6
@anushka17agarwal both options are ok!

[2021-03-25 13:44] Stealth-py commented on #6
@oserikov Could we potentially integrate crypto market listener apis? For example LunarCrush, CoinGecko, etc.

[2021-03-25 14:10] tathagata-raha commented on #9
Hi @oserikov, can you share the link of those jupyter notebooks as mentioned in the issue. Also, if I am correct the task is to convert the notebooks into production level components or DeepPavlov like skills.

[2021-03-25 14:53] Abhishek-1Bhatt commented on #7
Great! I will do that.

[2021-03-25 16:01] dimakarp1996 commented on #5
@KevinMathewT Hello. Thanks a lot for your dedication, that's a good start, carry on!

[2021-03-26 02:54] Abhishek-1Bhatt commented on #7
@oserikov  I had a little doubt regarding this project. Does it require the intern to develop an open source version of Alexa prize go logic, or to migrate it to the Deep Pavlov Library, or both? Please clarify .

[2021-03-26 03:08] Edith-panda commented on #6
@oserikov, @Stealth-py  Yahoo finance and APIs related to stock market , Bitcoin APIs  will be a good idea .
Right!

[2021-03-26 04:12] Stealth-py commented on #6
Yeah @Edith-panda. I am currently working a bit with binance api as well, plus crypto currency is the thing right now and the industry is just gonna boom even more, so I'm guessing we could work with it?
Waiting for @oserikov 's reply.

[2021-03-26 13:06] rishabhdhenkawat commented on #6
@oserikov can we go for integration of some health apis, to reach each and every individual

[2021-03-26 17:10] AjinkyaDeshpande39 commented on #12
Respected sir, Myself Ajinkya. I am a Btech student from Nagpur India. I am very interested to work in this project.   From the above discussion, I understood that project is about "migrating the model"  My question is , do we have to implement the model now itself as a  or is it going to be part of project with some different approach or with changes in it ? Also , do we need to mention results i

[2021-03-27 05:49] dmitrijeuseew commented on #12
@tathagata-raha Yes, migrating the model is a part of GSoC task.

[2021-03-27 05:52] dmitrijeuseew commented on #12
@AjinkyaDeshpande39 The task is to migrate the model, but if you have any ideas how to improve the model so that it will show better metrics (or if you are going to use another approach that will show better metrics), you are welcome.

[2021-03-27 07:43] Abhishek-1Bhatt commented on #7
@oserikov , so, should I replace any custom actions in domain.yml with default utterances as the api functionality cannot be achieved right now?

[2021-03-27 09:43] oserikov commented on #9
Yeah. Well actually happened to be based on top of the DialoGLUE code (github.com/alexa/DialoGLUE). While the our DialoGlue isn't published yet, guys prefer not to share the code to avoid possible misinterpretation.

[2021-03-27 09:44] oserikov commented on #9
So one could probably take Tripy from dialoGLUE and integrate it into the GO-bot as another NLU mechanism .

[2021-03-27 10:12] saarahasad commented on #12
@dmitrijeuseew Hello everyone! I’m Saarah (https://saarahasad.github.io) from India currently doing a Masters of Technology in Computer Science. I've been working on this for a while as well. I'm working on migrating the model. It has been taking a long time to train(more than a day). So I'm trying to get access/borrow a setup fit for this. I've been training it using the coNLL04 dataset. Hope tha

[2021-03-27 10:58] oserikov commented on #8
@mablin7 i created a minimal example of why stories are a graph: https://colab.research.google.com/drive/1CH-Aowfj0uKqbNowVUMOV5sWhTp1BPMq?usp=sharing

[2021-03-27 11:22] mablin7 commented on #8
Thanks @oserikov! So the task would be to take this format and draw a graph from it using JS? And in this graph each intent and bot action would be a node, and intents and actions which follow each other would be connected, is that correct?

[2021-03-27 12:51] arya2910 commented on #7
hey mentor!!@oserikov  i am trying to build weather communication bot in deeppavlov RASA-compatible GO-bot and i got this error. can you please tell me how to resolve it?

![Screenshot 2021-03-27 181807](https://user-images.githubusercontent.com/56691261/112721331-48a2ec00-8f29-11eb-83e4-5e074e2f2377.jpg)

[2021-03-27 17:27] arya2910 commented on #7
and yeah this error @oserikov
![Screenshot 2021-03-27 225638](https://user-images.githubusercontent.com/56691261/112728961-bfeb7680-8f4f-11eb-9eca-62bb534de7c5.jpg)

[2021-03-27 18:23] rimijoker commented on #5
Hey @oserikov @dimakarp1996 I read the paper [Bert and Pals](https://arxiv.org/abs/1902.02671) and I came across the implementation by the authors(this one - [Bert-n-Pals](https://github.com/AsaCooperStickland/Bert-n-Pals)) which is implemented in pytorch and uses most of the code from Hugging Face Transformers library. Furthermore, upon going through the [multitask_bert.py](https://github.com/dee

[2021-03-27 19:11] Abhishek-1Bhatt commented on #7
@oserikov , hey! I was able to build [this](https://github.com/Abhishek-1Bhatt/DeepPavlov-GO-Bot-for-weather-with-RASA-DSLs) very simple bot with RASA DSLs in DeepPavlov. Please tell me how I can improve upon it. Should I build a bot with DSTC2 to achieve advance functionality, as better pipelines/config files are available in DeepPavlov Library for DSTC2 based bots. At present  it is only capable

[2021-03-28 00:15] keeganNull commented on #5
Hey @oserikov , I have some problems when implementing the coding challenges. Because of the GCF, I have some problems when running the code `build_model(bert_config, download = True)`. I'm trying to deal with it. If I can't deal with it, I wonder if it's ok to implement it on the colab?

[2021-03-28 04:22] dimakarp1996 commented on #5
@keeganNull Could you provide me please with a traceback of error that comes out while running your code? Also, what are the properties of your GPU device what the CUDA /CUDNN versions are and what model are you trying to build? Maybe you just run out of memory?

[2021-03-28 15:15] dimakarp1996 commented on #5
@rimijoker Yes, you need to use the pytorch framework. You can also reuse authors code, its OK.

[2021-03-28 18:01] Abhishek-1Bhatt commented on #7
@oserikov , can you tell me how to train a slotfiller on my rasa dataset

[2021-03-28 18:15] Abhishek-1Bhatt commented on #7
I am able to make a simple [GO_BOT](https://github.com/Abhishek-1Bhatt/DeepPavlov-GO-Bot-for-weather-with-RASA-DSLs) but there is no specified way to add a slotfiller

[2021-03-29 08:33] Abhishek-1Bhatt commented on #7
@oserikov , hey! I was able to migrate partial functionalities of my rasa app above to DP RASA compatible GO Bot framework, other than the above basic go bot I made earlier. You can check out the Jupyter Notebook in this [repo](https://github.com/Abhishek-1Bhatt/DeepPavlov-Weather-Bot) . Please give me any suggestions for improvement.

[2021-03-29 10:32] keeganNull commented on #5
The problem is that I can't install the package "hdt".  And it showed that there is something wrong with my VSC. I'm trying to deal with it. Anyway, thank you.

[2021-03-29 11:33] arya2910 commented on #7
@oserikov hey mentor!! i have read about get_weather snip dataset . any way you suggest to work on that.
and yeah i build the weather communication bot using dp rasa framework but getting some error .I  already asked above and some more errors i am getting. will you please help with that?

[2021-03-29 14:58] oserikov opened #23 "Implement gradients accumulation technique in DeepPavlov"
**mentor:** @dimakarp1996

For training neural models, larger batch size usually yields better results. However, we cannot indefinitely increase batch size due to the restrictions in GPU memory. One of the ways to circumvent that restriction is gradient accumulation, that is described [here](https://towardsdatascience.com/what-is-gradient-accumulation-in-deep-learning-ec034122cfa)

**The task:** i

[2021-03-29 15:49] potato-patata commented on #23
@oserikov any particular model on which we can try this out first?

[2021-03-30 03:18] dimakarp1996 commented on #23
@potato-patata Plain BERT-BASE, for example.

[2021-03-30 07:21] Astreak commented on #5
Hey @oserikov @dimakarp1996  hope you are having a good day... I am using the MT-DNN code provided by the author(Link: https://github.com/namisan/mt-dnn)
and trying to integrate the functionalities and scripts in the deeppavlov library.But,I came across few demo datasets(Toy datasets) used to show the training process/GLUE benchmark, should I add the datasets or just focus on the functionalities p

[2021-03-30 07:53] dimakarp1996 commented on #5
@praj000 I think that adding these toy datasets and using them in the training process is a great idea, as using them can speed up debugging of your code.

[2021-03-31 01:51] mablin7 commented on #8
Hey @danielkornev thanks for the feedback on the proposal, I'll try to address all your points by Thursday!

In the meantime I've been working on the graph visualization and the frontend is pretty much done. The only part missing now is training on the backend. For now, I've pushed a [demo](https://relaxed-blackwell-81791b.netlify.app/) of the frontent to netlify (final version will be deployed el

[2021-03-31 02:02] mablin7 commented on #8
The names of the nodes are taken from `stories.md` so that's why they're not very intuitive. Plus they're long so you can hover over the node to see the full name. I was thinking about grabbing some examples from the nlu file and displaying those instead of the intent name. What do you think?

I was also planning to add an option for viewing just one story at a time, but haven't had enough time ye

[2021-03-31 05:46] keeganNull commented on #5
Hey mentor! I'm trying to implement mt dnn.And there is some problems when I do it. So should I have to implement it totally to get chance to be accepted.?I mean I just use some packages like hugging face, maybe I can't do as good as the paper, even worse I can't finish it.Do it matter a lot?

[2021-03-31 06:08] oserikov commented on #5
hey @keeganNull !btw remember to enable commenter access when submitting your proposal this thursday. We were unable to suggest smth

[2021-03-31 08:18] keeganNull commented on #5
I have handled it. Thank you.

[2021-03-31 09:27] Ahnsun commented on #5
Hey,@oserikov @dimakarp1996,I am Yu En, a postgraduate major in ML in HuaZhong University of Science and Technology from China, I am mainly engaged in CV research, and used to learn about transformer and Bert. This is my first time to take part in GSoC.I would really like to work on and contribute this project for GSoC 2021. I will really appreciate it if I can get your suggestion.

[2021-04-01 07:26] zl674421351 commented on #23
Hello @dimakarp1996 @oserikov. I hope that it's not too late to get to know about the GSoC opportunity with DeepPavlov. I am currently a master student in computer science working at NLP@CU group, Columbia University. I've been working around recommendation dialog systems. By the way, I will also be participating in the Alexa Prize TaskBot challenge this year, so I guess, see you there! For GSoC,

[2021-04-01 10:43] oserikov commented on #7
@arya2910 , could you please provide a link to your code for me to take a closer look? Now it looks like some paths are missing

[2021-04-01 10:44] oserikov commented on #7
@arya2910 , could you please provide a link to your code for me to take a closer look? Now it looks like some paths are missing

[2021-04-01 10:48] danielkornev commented on #8
Demo is quite impressive. For real use it'd ofc need zoom feature (to see the entire picture), being able to add new intents & responses, support slots, and so on. Impressive nonetheless.

[2021-04-01 10:48] oserikov commented on #6
@rishabhdhenkawat health apis are great, but ensure they're OpenAPI-compatible

@Edith-panda @Stealth-py finance seems ok to me.

[2021-04-01 10:48] oserikov commented on #7
@arya2910 , could you please provide a link to your code for me to take a closer look? Now it looks like some paths are missing

[2021-04-01 10:49] oserikov commented on #7
@Abhishek-1Bhatt thx! I will review later today or tomorrow

[2021-04-01 10:49] arya2910 commented on #7
yeah just give me 5 min

[2021-04-01 10:50] dmitrijeuseew commented on #12
@saarahasad Hello! Document-level RE model is also very useful for DeepPavlov library.

[2021-04-01 11:14] arya2910 commented on #7
[Here](https://github.com/arya2910/weather-communication-bot-using-deeppavlov-GO-bot-framework/blob/main/weather_communication_bot_.ipynb) is the link

[2021-04-02 06:01] harsh1245-bit commented on #5
Hey,@oserikov @dimakarp1996, I am Harsh Pandey, a sophomore major in ML in Indian Institute of technology BHU Varanasi in India, I am mainly engaged in Machine learning, Deep learning, Natural Language Processing, and used to learn about transformer and Bert. I am currently also a data science intern. This is my first time to take part in GSoC. I would really like to work on and contribute this pr

[2021-04-03 05:46] Edith-panda commented on #6
@oserikov I have not getting the stuffs regarding codegen and swagger I have tried with some methods to get json file out of openweather API.
https://colab.research.google.com/drive/1vq3h6nvfKt66VLrW7Cwe3qGWAUn54yhG
Am i going in proper direction or need some changes ?

[2021-04-03 15:48] rusdes commented on #12
@dmitrijeuseew  Hello! I am Rushil Desai. I’ve been researching about this particular task and DeepPavlov since a couple of days and I strongly feel that alongside the sentence-level RE (with table-sequence encoders as in https://arxiv.org/abs/2010.03851), a document-level RE(https://arxiv.org/pdf/2010.11304.pdf) is an important feature a conversational framework like DeepPavlov should have, as mo

[2021-04-03 20:39] rushilpatra commented on #9
hey @oserikov! I would like to work on this project for gsoc 2021.Could you please help me with some steps on how should I begin?

[2021-04-03 22:21] abhinavsb3 commented on #3
Hi, @oserikov I also want to contribute to this project.And am i late to start this now?i'm in beginner level in this area now. will that be a problem for me to complete this?

[2021-04-04 01:10] mablin7 commented on #8
Hey @danielkornev @oserikov!

I finished the first early mockup for the interface. You can check out the interactive figma demo here:
[https://www.figma.com/proto/a4EMsTYE58M31Ef9OxtJAa/DP-GoBot-Editor-Concept?node-id=133%3A13&scaling=scale-down&page-id=0%3A1](https://www.figma.com/proto/a4EMsTYE58M31Ef9OxtJAa/DP-GoBot-Editor-Concept?node-id=133%3A13&scaling=scale-down&page-id=0%3A1)

And here's a

[2021-04-04 06:18] dmitrijeuseew commented on #12
@rusdes Hello! Yes, you should write a proposal and sibmit it. I think that converting document-level RE from PyTorch to Tensorflow is not necessary because now we are converting our DeepPavlov models from Tensorflow to PyTorch so it will be better if RE model will use PyTorch.

[2021-04-04 06:54] techpkd123 commented on #4
Hello @danielkornev .
My name is Priyam Kumar Deka. I am a third year undergraduate from NIT Allahabad  I have been working on NLP projects for quite a long time and would like to contribute to this issue?

[2021-04-04 07:36] cisco00 commented on #3
Hi @oserikov I am working with the NLP domain for the past 1 yr, and have to build some scalable solutions in various domains like object detection, finance, and others using models like BERT, CNN, and Naive-Bayes So I would like to work on this under Gsoc'21.

[2021-04-04 08:35] RishavMishraRM commented on #5
I am Rishav Kumar Mishra, a  major in ML at SRM University in India, I am mainly engaged in Machine learning, Deep learning, Natural Language Processing, MLOPS, Image Processing, and transformer and Bert. I am currently an Upcoming Research intern. This is my first time taking part in GSoC. I would really like to work on and contribute to this project for GSoC 2021.

[2021-04-04 09:52] oserikov commented on #3
@abhinavszb it's never too late, but since the deadline is near, it's rather difficult. So you should either start working hard on your proposal and challenges or probably pick smth easier

[2021-04-04 09:53] oserikov commented on #4
Hey! Nice to see you here, but still,

[2021-04-04 09:53] #4 closed

[2021-04-04 09:54] oserikov commented on #6
@Edith-panda requested the access to gdoc

[2021-04-04 09:59] oserikov commented on #9
Hey @rushilpatra ! You should begin with learning what deeppavlov is and what is a goal-oriented bot. Also, take a look at the coding challenge

[2021-04-04 10:57] Edith-panda commented on #6
@oserikov done 👍

[2021-04-06 17:14] milind-soni commented on #5
Hello! @oserikov and team! you are doing really exciting work and I would love to be a part of it throughout the summers. I am a third-year electronics and communication undergraduate from India and have an interest in Natural language processing and speech-related projects. You have some exciting projects that I would like to get my hands on and hopefully learn a lot.

[2021-04-06 18:35] rushilpatra commented on #9
Hey @oserikov ! I have understood what deeppavlov is and what is a goal oriented bot as well.I have gone through https://docs.deeppavlov.ai/en/master/features/skills/go_bot.html this as well.
What should I do next?

[2021-04-06 22:09] lotaa commented on #9
Hi,@oserikov I have understood what is deeppavlov is and what is a goal oriented bot as well.  What should I do next?...

[2021-04-07 17:30] arya2910 commented on #7
@oserikov hey!! i have read many docs deeppavlov and deeppavlov agent and learned to make alexa skill. but its all get messed up in my mind that what are the components that are really need to make weather communication in deeppavlov framework and how to put all that together for development. can you please help me with this??

[2021-04-07 18:03] amal-meer commented on #23
@dimakarp1996
What I understood from the blog and from ["How to Easily Use Gradient Accumulation in Keras Models"](https://towardsdatascience.com/how-to-easily-use-gradient-accumulation-in-keras-models-fa02c0342b60) blog is that, if we want to apply gradients accumulation(GA), we need to create a generic GA wrapper function to wrap an existing optimizer. For that, I tried to understand how the opt

[2021-04-09 02:47] keeganNull commented on #5
Hi ！@dimakarp1996
I really need your feedback before the deadline. Should I submit again?

[2021-04-09 07:56] dimakarp1996 commented on #5
Hello @keeganNull. I have written a comment, please check your proppsal out.

[2021-04-09 07:58] dimakarp1996 commented on #5
@rimijoker Hello. I kindly remind you to add schedule to your proposal, as I haven't found it yet.

[2021-04-09 09:08] lotaa commented on #5
@dimakarp1996 Hi. I really need your feedback before the deadline. Should I submit again?

[2021-04-09 10:26] lotaa commented on #3
@oserikov, @dmitrijeuseew Hi. please I really need feedback before the deadline.

[2021-04-09 10:58] dimakarp1996 commented on #5
@Iotaa Are you sure that I am your prospective mentor? From your proposal, as your task is **Refactor KBQA** , maybe you should write to @dmitrijeuseew?

[2021-04-09 12:04] lotaa commented on #5
@dimakarp1996,
I'm very sorry ... Thank you for your response

[2021-04-09 17:34] codingwithahmed commented on #6
Hi,
I am a freelance web developer. I want to contribute to this project by participating in gsoc21.
Can you give me advice on how to apply, also can you send a starter code for a demo?

[2021-04-09 17:35] rimijoker commented on #5
@dimakarp1996 I have added a schedule and a new comment to my proposal, please take a quick look :)

[2021-04-09 18:12] mikewakawski commented on #5
Are you still looking for applicants for this project? If yes, then I'd like to help out on this project under GSoC 2021

[2021-04-09 18:58] dimakarp1996 commented on #5
@mikewakawski @milind-soni Yes, we are glad to see new proposals.

[2021-04-09 19:01] dimakarp1996 commented on #5
@rimijoker I am perfectly satisfied with your schedule.

[2021-04-10 06:21] dimakarp1996 commented on #23
@amal-meer You can check out your proposal, I have written a comment.

[2021-04-11 03:20] keeganNull commented on #5
Thank you for your comment.
I have checked the comment. And I have found a new multi-task model. What should it at least two models here?  As I think, one model like Unicorn (which I found)  maybe is easy to implement. That somehow I think I need more tasks to finish a ten-week schedule.
And I'm still finding new models. I think I will finish my proposal before tomorrow. I wish you can check it ag

[2021-04-11 07:33] dimakarp1996 commented on #5
@keeganNull I have added the comment about the additional requirement to the MT models; long story short, it's not only about ease of implementation, but also about computational restrictions. (Model should be able to run on inference at 1 GeForce 1080Ti)

[2021-04-11 08:35] keeganNull commented on #5
I have finished my final proposals. Please check it again.

[2021-04-11 09:19] lotaa commented on #3
@dmitrijeuseew Hi, I am edited my pre- proposal you can Check it .

[2021-04-11 13:31] dimakarp1996 commented on #5
@keeganNull I have checked it, please look out my answer.

[2021-04-11 23:46] oserikov commented on #6
Hey @codingwithahmed ! [Here](https://github.com/deepmipt/deeppavlov-contrib-drafts/issues/6#issuecomment-804634384)'s the starter code, if I correctly understood you . Your application proposal should follow our template, outline your plans and provide a weekly/bi-weekly schedule .

[2021-04-11 23:54] oserikov commented on #9
Hey @rushilpatra @lotaa ! You should proceed with building a template deeppavlov GO-bot , which will be trained on MultiWOz data.

[2021-04-11 23:56] oserikov commented on #3
@lotaa Hey! All the proposals review will be provided in the next ~12 hrs

[2021-04-12 00:07] oserikov commented on #9
@lotaa, please, re-submit your proposal as a google doc.

[2021-04-12 00:07] codingwithahmed commented on #6
On it @oserikov

[2021-04-12 12:33] saarahasad commented on #12
Had a query on using RE for KBQA @dmitrijeuseew

Here relations extracted could be used with entities to better the results when finding top-k relations predicted by classification model

or

Could it be used to better results of entity linking. It would solve ambiguity to some extent (when they are multiple matches  in the KB)

or

would it replace the need to rank candidate relations (which woul

[2021-04-12 15:06] Daishinkan002 commented on #12
Or will it be useful in solidifying our knowledge base, instead of iterating over with redundant information in dataset over multiple domains ? @dmitrijeuseew

[2021-05-13 15:51] rimijoker commented on #5
@dimakarp1996 @oserikov  Is this project still being considered for GSoC 2021?
I was going through the CA-MTL paper in detail yesterday and found it really fascinating, It would be an exciting opportunity to implement this within the DeepPavlov Library.

[2021-05-13 20:19] dimakarp1996 commented on #5
@rimijoker yes, it is, keep calm

[2021-05-19 01:41] lotaa commented on #3
Hello @oserikov ,

I Have two massage in the dashboard
“Sorry Omnia
Your proposal has not been selected this year. There were a lot of submissions and it was difficult to narrow it down. We encourage you to try again in the future.
”
But another massage in Refactor KBQA ” You have officially submitted a GSoC 2021 application
If this proposal is accepted, you will be able to edit the title and the

[2022-02-17 23:27] #12 closed, assigned to nobody

[2022-02-17 23:27] #17 closed, assigned to nobody

[2022-02-17 23:27] #1 closed

[2022-02-17 23:27] #3 closed

[2022-02-17 23:27] #5 closed

[2022-02-17 23:27] #6 closed

[2022-02-17 23:27] #7 closed

[2022-02-17 23:27] #8 closed

[2022-02-17 23:27] #9 closed

[2022-02-17 23:27] #13 closed, assigned to oserikov

[2022-02-17 23:27] #14 closed, assigned to nobody

[2022-02-17 23:27] #15 closed, assigned to nobody

[2022-02-17 23:27] #23 closed, assigned to nobody

[2022-02-17 23:42] oserikov opened #24 "Development of Dream Builder"
**difficulty**: medium
**duration**: 350 hours
**mentor**: Maria, @mablin7 , @danielkornev , @dilyararimovna
**requirements**:
1. Fluency in TypeScript, Python
2. Good understanding of CSS
3. React + redux or similar state management library + FastAPI
4. SQL
5. Machine learning basics
**useful links**: [Spring Initializr](https://start.spring.io/) [Deepy demo](https://github.com/deepmipt/deepy)

*

[2022-02-17 23:50] oserikov opened #25 "Development of DF Designer"
**difficulty**: medium
**duration**: 350 hours
**mentor**: Maria, @mablin7 , @kudep
**requirements**:
1. Python
2. understanding of ASTs
3. experience in optimizing python code
4. understanding of graphs
5. TypeScript
6. React
7. CSS
8. bonus if familiar with VSCode extension API
**useful links**:

**tl;dr:** DF Designer is a tool for developing scenario-driven skills for multi-skill AI assistants

[2022-02-17 23:54] oserikov opened #26 "Development of a Dashboard for DeepPavlov Dream"
**difficulty**: medium
**duration**: 350 hours
**mentor**: Maria, @mablin7 , @danielkornev , @dilyararimovna
**requirements**:
1. Fluency in TypeScript, Python
2. Good understanding of CSS
3. React + redux or similar state management library + FastAPI or Flask
4. D3 or other JS visualization library

**useful links**:

**tl;dr:** The task is to develop a dashboard for the Dream dialog system.
Drea

[2022-02-17 23:58] oserikov opened #27 "Dialog Flow Framework and an Integration with Databases"
**difficulty**: challenging
**duration**: 350/175
**mentor**: @kudep
**requirements**:
1. docker - basic
2. python  - advance
3. SQL - basic

**useful links**:
- Description of the framework https://github.com/deepmipt/dialog_flow_framework
- Repository of Dialog Flow Engine https://github.com/deepmipt/dialog_flow_engine
- Documentation of Dialog Flow Engine https://dialog-flow-engine.readthedocs.

[2022-02-18 00:02] oserikov opened #28 "Dialog Flow Framework and Dialog Exploration and Visualization Utils"
**difficulty**: easy
**duration**: 350/170 hours
**mentor**: @kudep
**requirements**:
1. docker - basic
2. python  - advance
3. REST API - basic

**useful links**:
- Description of the framework https://github.com/deepmipt/dialog_flow_framework
- Repository of Dialog Flow Engine https://github.com/deepmipt/dialog_flow_engine
- Documentation of Dialog Flow Engine https://dialog-flow-engine.readthed

[2022-02-18 00:05] oserikov opened #29 "Dream Socialbot Landing Improvement"
**difficulty**: medium
**duration**: 350 hours
**mentor**: @dilyararimovna @mablin7
**requirements**:
1. Fluency in TypeScript, Python
2. Good understanding of CSS
3. React + redux or similar state management library + FastAPI

**useful links**:
- Demo chat is now available on [DeepPavlov demo web-site](https://demo.deeppavlov.ai/#/en/chat)
- Repository of Dream https://github.com/deepmipt/dream

[2022-02-18 00:08] oserikov opened #30 "Dialog Flow Framework and an integration with External Dialogue Services"
**difficulty**: easy
**duration**: 350/170 hours
**mentor**: @kudep
**requirements**:
1. docker - basic
2. python  - advance
3. REST API- basic

**useful links**:
- Description of the framework https://github.com/deepmipt/dialog_flow_framework
- Repository of Dialog Flow Engine https://github.com/deepmipt/dialog_flow_engine
- Documentation of Dialog Flow Engine https://dialog-flow-engine.readthedo

[2022-02-18 14:20] oserikov opened #31 "Development of a system for automatic evaluation of open-domain dialogues"
**duration**: 350 hours
**difficulty**: medium
**mentor**: Maria, @danielkornev, @dilyararimovna
**requirements**:
1. Python
2. NLP for Language Understanding
3. Familiarity with unsupervised EDA approaches to large collections of language data
4. Familiarity with transformers

**useful links** (relevant methods papers and articles):
- Evaluation methods for text generation tasks (methods and metr

[2022-02-21 14:02] anirudhlakhotia commented on #29
Hey!
This looks really interesting
How do I get in touch with the organisation for help regarding contributions and gsoc in general?
I'm looking to get my open source journey started this year :)

[2022-02-25 18:59] oserikov opened #32 "Implement the paper: https://arxiv.org/abs/nlin/0409024"
Core Idea: Measure the complexity in self-organization by estimating how much info do you need to predict how the network changes.

[2022-02-26 14:47] #32 closed, assigned to nobody